

:root{
    --background:rgba(85,214,170,.6);
}


*,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin:0;
    background: #222;
    font-family: sans-serif;
    font-weight: 400;
}

.content{
    min-height: 200vh;
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.8)),url("img/car.jpeg");
    background-size: cover;
    background-position: center;
    /* background-color: #333; */
    background-blend-mode: multiply;
    display: grid;
    place-items: center;
}

header{
    background: var(--background);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    width: 2rem;
    height: .2rem;
    border-radius: .2rem;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content:'';
    position: absolute;
}


.nav-toggle-label span::before{
    bottom:8px;
}

.nav-toggle-label span::after{
    top:8px;
}

nav{
    position: absolute;
    text-align: left;
    top:100%;
    left:0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform .4s ease-in-out;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1rem;
    margin-left: 1rem;
}

nav a{
    color:yellow;
    text-decoration: none;
    font-size:1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .25s ease-in-out .25s;
}

nav a:hover{
    color:blue;
}


.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}


.nav-toggle:checked ~ nav a{
    opacity: 1;
    
}

@media screen and (min-width:800px){
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px,3fr) 1fr;
    }

    .logo{
        grid-column: 2/3;
    }

    nav{
        all:unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul{
        display: flex;
    }

    nav li{
        margin-left:3rem;
        margin-bottom: 0;
    }

    nav a{
        opacity: 1;
        position: relative;
    }

    nav a::before{
        content:"";
        display: block;
        height: 5px;
        background: yellow;
        position: absolute;
        top:-.5rem;
        left:0;
        right:0;
        transform: scale(0,1);
        transform-origin: left;
        transition: transform .75s ease-in-out;
    }

    nav a::after{
        content:"";
        display: block;
        height: 5px;
        background: yellow;
        position: absolute;
        bottom:-.5rem;
        left:0;
        right:0;
        transform: scale(0,1);
        transform-origin: right;
        transition: transform .75s ease-in-out;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }

    nav a:hover::after{
        transform: scale(1,1);
    

    
}