

body{
    background-color: pink;
}

ul{
    margin:5rem auto;
    text-align: center;
    justify-content: center;
}

li{
    
    font-size: 2rem;
    color:darkblue;
    
}


.colored{
    color:darkgreen;
    opacity:.6;
}


.colorless{
    text-decoration: line-through;
    opacity:.3;
}